@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <h2 class="text-muted mb-1">Create An Account</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="email" autocomplete="on" placeholder="Enter email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" placeholder="Enter Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label>
            <input type="checkbox" asp-for="RememberMe"/>Remember Me
        </label>
    </div>
    <div>
        <button type="submit" class="btn-primary m-2 p-3">Login</button>
    </div>
</form>

